includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app
        - database/factories
        - routes

    # Level 10 is the highest level
    level: 8

    ignoreErrors:
        - '#.*App\\Models\\User\|null.*#'
        - "#Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.#"
        - '#Access to an undefined property PHPUnit\\Framework\\TestCase::[a-zA-Z0-9_$]+#'
        - '#expects App\\Models\\User, Illuminate\\Contracts\\Auth\\Authenticatable\|null given.#'
        - '#Call to an undefined method PHPUnit\\Framework\\TestCase::browse\(\).#'
